APP_NAME=Bot Bet 1x2
APP_ENV=dev
APP_HOST=127.0.0.1
APP_PORT=8000

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

FOOTBALL_API_KEY=ab01c6facb4b734afa330833999a2b39
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io

TIMEZONE=America/Recife