fastapi
uvicorn
requests
python-dotenv
apscheduler
pydantic
httpx
pytest
google-genai
scikit-learn
joblib
pandas
numpy
sqlalchemy
pymysql
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator